*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    --background-color: hsl(180, 20%, 90%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    padding: 2em;
    color: rgba(0, 0, 0, 0.6);
    background: var(--background-color);
    text-align: center;
}

h1 {
    font-size: 3.2rem;
    padding-top: 2em;
}

h1+p {
    font-size: 1.8rem;
    padding: 2em 0 3em;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrap {
    margin: 2em;
    transform-style: preserve-3d;
    transform: perspective(100rem);
    cursor: pointer;
}

.container {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
    width: 30rem;
    height: 36rem;
    border: 1px solid var(--background-color);
    border-radius: 1.6rem;
    padding: 4em;
    display: flex;
    align-items: flex-end;
    position: relative;
    transform: rotateX(calc(var(--rX)*1deg)) rotateY(calc(var(--rY)*1deg));
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url(https://images.unsplash.com/photo-1519378058457-4c29a0a2efac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=704&q=80);
    background-position: var(--bX) var(--bY);
    background-size: 40rem auto;
    box-shadow: 0 0 3rem 0.5rem hsla(0, 0%, 0%, .2);
    transition: transform 0.6s 1s;
}

.container::before,
.container::after {
    content: '';
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
    position: absolute;
    z-index: 2;
    opacity: 0.3;
    transition: 0.3s;
}

.container::before {
    top: 2rem;
    right: 2rem;
    border-bottom-width: 0;
    border-left-width: 0;
}

.container::after {
    top: 2rem;
    right: 2rem;
    border-top-width: 0;
    border-right-width: 0;
}

.container--active {
    transition: none;
}

.container--2 {
    filter: hue-rotate(80deg) saturate(140%);
}

.container--3 {
    filter: hue-rotate(160deg) saturate(140%);
}

.container p {
    color: hsla(0, 0%, 100%, .6);
    font-size: 2.2rem;
}

.wrap:hover .container::before,
.wrap:hover .container::after {
    width: calc(100%-4rem);
    height: calc(100%-4rem);
}

.abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: hsla(0, 0%, 0%, 0.6);
    font-size: 1.6rem;
}